<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="solution.twinflag.com.facesolution">


    <uses-permission android:name="android.permission.INTERNET"/>
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".food.view.FaceFoodActivity"
            android:theme="@style/FullscreenTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!--
            <activity
            android:name=".food.FaceFoodActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_face_food"
            android:theme="@style/FullscreenTheme" />
        -->
        <!--
            <activity
            android:name=".ui.FaceAttendanceActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_face_attendance"
            android:theme="@style/FullscreenTheme" />
        -->
        <!--
            <activity
            android:name=".cupboard.FaceCupboardActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_face_cupboard"
            android:theme="@style/FullscreenTheme" />
        -->
        <!--
        <activity
            android:name=".classemotion.FaceClassEmotionActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_face_class_emotion"
            android:theme="@style/FullscreenTheme" />
        <activity android:name=".library.FaceLibraryActivity"></activity>
        -->
        <!--<activity android:name=".attendance.FaceAttendanceQueryActivity"></activity>-->
    </application>

</manifest>